# YNAB API Configuration
YNAB_API_KEY=j9T37ilbtBOACDjr-ACFjt8WJgSXJD8ZeevegFI9_uk
YNAB_BASE_URL=https://api.youneedabudget.com/v1

# Server Configuration
PORT=3001
NODE_ENV=development

# CORS (frontend URL)
FRONTEND_URL=http://localhost:8080
